body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #333;
}
pre,
code {
    font-family: "SF Mono", "Monaco", "Inconsolata", "Fira Mono", "Droid Sans Mono", "Source Code Pro", monospace;
}
a {
    color: inherit;
    text-decoration-skip: ink;
}

h1 {
    font-size: 40px;
    margin: 39px 0 0;
}
h2 {
    font-size: 32px;
    margin: 35px 0 0;
}

code {
    font-size: 95%;
}

header,
footer {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}
article,
section {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 20px;
}
article > header {
    max-width: 700px;
    padding: 35px 0 10px;
}
article blockquote,
article ul,
article ol,
article p {
    font-size: 21px;
    margin-top: 10px;
    font-family: "Apple Garamond", "Baskerville", "Georgia", "Times New Roman", "Roboto Slab", "Droid Serif", "Times", "Source Serif Pro", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.58;
    letter-spacing: -.003em;
}

header {
    height: 64px;
    border-bottom: 1px solid transparent;
    display: flex;
    align-items: center;
}
header svg, header img {
    height: 32px;
    border-radius: 50%;
}
header > span {
    flex-grow: 1;
}
header > svg {
    height: 25px;
    margin: 4px 12px 3px 11px;
    cursor: pointer;
}
header > svg path {
    fill: rgba(0, 0, 0, .44);
}
header > img {
    margin-left: 8px;
    cursor: pointer;
}

.avatar {
    height: 60px;
    border-radius: 50%;
}
.author-info {
    margin-left: 15px;
}
.author-info > a {
    text-decoration: none;
}
.author-info > iframe {
    vertical-align: middle;
}
.author-meta {
    color: #8f8f8f;
    font-size: 13px;
    line-height: 1.4;
    margin-top: 2px;
}

.share-this-popover {
    font-size: 20px;
}

.note-reference {
    display: none;
}
.note-reference > span {
    position: absolute;
    background: rgba(196, 196, 255, 0.35);
}
.note-box {
    position: absolute;
    left: calc(51% + 350px);
    width: calc(49% - 350px);
    max-width: 10em;
    padding: 1em;
    background: ivory;
    border: 1px solid wheat;
    border-radius: .2em;
    box-shadow: 0 .1em .2em rgba(0, 0, 0, .35);
    box-sizing: border-box;
}
.note-toolbar {
    margin: -.5em -1em -1em;
    text-align: right;
    opacity: 0;
    line-height: 1;
}
.note-toolbar > button {
    background: transparent;
    color: gray;
    border: none;
    box-shadow: none;
    padding: .25em;
    line-height: 1;
    font-size: 100%;
    cursor: pointer;
}
.note-toolbar > button:hover {
    background: rgba(0, 0, 0, .05);
}
.note-wrapper.is-selected .note-toolbar,
.note-wrapper:hover .note-toolbar {
    opacity: 1;
}
.note-wrapper.is-selected > .note-reference,
.note-wrapper:hover > .note-reference {
    display: block;
}

.bell-icon {
    animation-iteration-count: 1;
    animation-duration: 1.4s;
    transform-origin: 50% 15%;
}
.bell-icon.oscillating {
    animation-name: bell;
}
.search-icon path {
    animation-iteration-count: 1;
    animation-duration: 1.3s;
}
.search-icon.crashing {
    cursor: default;
}
.search-icon.crashing path {
    animation-name: crash;
}

@media (max-width: 767px) {
    h1 {
        font-size: 32px;
        margin: 31px 0 0;
    }
    h2 {
        font-size: 28px;
        margin: 28px 0 0;
    }
    article blockquote,
    article ul,
    article ol,
    article p {
        font-size: 18px;
    }
    header {
        height: 56px;
    }

    .note-box {
        left: 16px;
        width: 10em;
        max-width: none;
        font-size: 14px;
        transform: translate(-100%, 0);
        transition: transform .3s;
    }
    .note-box::after {
        content: "";
        position: absolute;
        right: 6px;
        top: calc(50% - 9px);
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2 12'><path fill='gray' d='M1,5A1 1 0 0 0 1,7M1,10A1 1 0 0 0 1,12 1 1 0 0 0 1,10M1,7A1 1 0 0 0 1,5M1,2A1 1 0 0 0 1,0 1 1 0 0 0 1,2'></path></svg>");
        background-repeat: no-repeat;
        background-size: contain;
        width: 3px;
        height: 18px;
    }
    .note-toolbar > button {
        display: none;
    }
    .note-wrapper.is-selected > .note-box {
        transform: translate(-16px, -100%);
    }
    .note-wrapper.is-selected > .note-box::after {
        content: none;
    }
    .note-wrapper.is-selected .note-toolbar > button {
        display: inline-block;
    }
}

@keyframes bell {
    0% { transform: rotate(0deg); }
    5% { transform: rotate(-30deg); }
    15% { transform: rotate(30deg); }
    25% { transform: rotate(-20deg); }
    35% { transform: rotate(20deg); }
    45% { transform: rotate(-12deg); }
    55% { transform: rotate(12deg); }
    65% { transform: rotate(-7deg); }
    75% { transform: rotate(7deg); }
    85% { transform: rotate(-3deg); }
    95% { transform: rotate(3deg); }
    100% { transform: rotate(0deg); }
}
@keyframes crash {
    0% { transform: translate(0, 0); }
    10% { transform: translate(0, -5px); }
    40% { transform: translate(0, 25px); }
    80% { transform: translate(0, 50px); }
    100% { transform: translate(0, 0); }
}
